@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --Orange: #D2872C;
    --Gray: #766F68;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center;

}
.marca{
    color: #D2872C;
}
a{
    text-decoration: none;
}
ul a{
    color: black;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin-right: 20px;
    font-size: 1.2em;
}


main{
    display: flex;

}
.botao{
    background-color: #D2872C;
    margin-top: 30px;
    width: 200px;
    padding: 20px 40px;
    border-radius: 20px;
    text-align: center;
}
.botao a{
    color: white;
}
.container-text{
    font-size: 20px;
    margin: 0px 40px;
    color: var(--Gray);
}
.container-text p{
    margin-top: 20px;
    margin-bottom: 20px;

}

.container{
    min-width: 700px;
    max-width: 800px;
}



img{
    width: 100%;
}




